#topbar {

    width: 100%;
    margin: 0 auto;
    height: 40px;
    
}

body {

    margin: 0;
    padding: 0;
    font-family:  Helvetica, Arial, sans-serif;

}

#logo {

    margin: 8px;
    margin-left: 50px;
    width: 80px auto;
    float: left;
    margin-right: 15px;

}

.topbar-section {

    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;

}

#signin-image {

    width: 23px;
    margin: 8px 5px 0 12px;
    padding-top: 3px;
    float: left;

}

#signin-text {

    font-weight: 600;
    font-size: 80%;
    position: relative;
    top: 14px;
    padding-right: 80px;

}

.topbar-menu {

    font-weight: 600;
    font-size: 81%;
    padding: 13px 22px;
    height: 14px;

}

#more-arrow {

    width: 22px;
    margin-left: 50px;
    height: 12px;

}

#search-box {

    background-color: #E4E4E4;
    border:none;
    font-weight: 600;
    font-size: auto;
    padding: 5px;
    margin: 8px 0 10px 8px;
    float: left;

}

#magnifying-glass {

    height: 26px;
    margin-top: 8px;

}

.clear {

    clear: both;

}

#menu-bar-container {

    border-top: 1px solid #CCCCCC;
    background-color: #bb1919;
    width: 100%;
    height: 92px;

}

#menu-bar {

    width: 100%;
    margin: 0 auto;

}

h1 {

    padding: 0;
    margin: 0;
    color: white;
    font-size: 42px;
    font-weight: 400;
    padding-top: 8px;
    padding-left: 45px;

}

#menu-bar-2-container {

    background-color: #bb1919;
    width: 100%;

}

#menu-bar-2 {

    width: 100%;
    margin: 0 auto;
    height: 3px;
    padding-top: 3px;

}

#menu-bar-2 a {

    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-right: 1px solid #bb4545;
    font-size: 14px;
    position: relative;
    top: 5px;
    left: 35px;
}

#menu-bar-2 a:hover {

    text-decoration:underline;

}

.no-border {

    border: none !important;

}

#down-arrow {

    float: right;
    padding-right: 98px;
    padding-top: 4px;

}

#page-container {

    width: 100%;
    margin: 0 auto;

}

h2 {

    font-weight: normal;
    margin: 20px;
    margin-left: 40px;
    font-size: 20px;
    border-bottom: 3px solid #a91717;
    width: 103px;

}

h3 a {

    color: black;
    font-size: 33px;
    text-decoration: none;
    margin-left: 40px;

}

h3 a:hover {

    color: #1167a8;

}

#article-summary {

    color: #5a5a5a;
    width: 265px;
    margin-left: 40px;
    float: left;

}

#topic-link {

    text-decoration: none;
    color: #a91717;
    border-left: 1px solid #CCCCCC ;
    padding-left: 10px;

}

#article-summary a:hover {

    color: #1167a8;

}

.date {

    padding-right: 10px;
    padding-left: 10px;
    color: #5a5a5a;

}

#article-container {

    float: left;
    width: 670px;
    border-right: 1px solid #CCCCCC;

}

#ASDA {

    margin: 15px 20px;

}

.article-link {

    color: black;
    text-decoration: none;

}

#watch-listen {

    margin-left: 20px;
    width: 350px;
    float: right;

}

h4 {

    font-weight: normal;
    font-size: 20px;

}

.article-side-images {

    float: left;
    width: 120px;
    margin-right: 1px;

}

.watch-listen-link {

    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 18px;

}

.watch-listen-link:hover {

    color: #1167a8;

}

.side-article {

    float: right;
    width: 200px;
    position: relative;
    top:-5px;

}